{% extends "base.html.twig" %}

    {% block pageTitle %}comics sans ms marvel{% endblock %}

    {% block body %}
        <a href="{{ path('character_index') }}" class="btn btn-warning m-3 d-flex justify-content-center m-5">
            Display 20 characters
        </a>
    {% endblock %}